[Desktop Entry]
Type=Application
Name=Asus-helper
Comment=Asus-helper tray icon
Comment[ru]=Значок Asus-helper в трее
Exec=asus-helper
Icon=asus-helper
Terminal=false
NoDisplay=true
X-KDE-autostart-phase=2
